<div ng-controller="ExempleController">
	<input type="text" ng-model="query" placeholder="Saisir des mots clés...">
	<hr>

	<input type="text" ng-model="name" placeholder="Saisir un nom">
	<input type="text" ng-model="age" placeholder="Saisir un age">
	<button ng-click="add()">Ajouter</button>
	<hr>
	<div ng-repeat="(i, message) in messages | filter: query">
		{{ message.name }} - {{ message.age }} - {{ i }}
		<button ng-click="remove(i)">
			Supprimer
		</button>
		<hr>
	</div>
	<span>{{ (messages| filter:query).length }}</span>
</div>